h1 {
  font-family: Montserrat;
}

h2 {
  font-family: Montserrat;
  font-weight: 700;
  text-align: center;
}

.colors, .fonts {
  padding: 0px 10px 20px;
  border: 2px solid black;
}

#seafoam, #seasmoke, #dreary {
  width: 30%;
  height: 100%;
  margin-left: 15px;
  text-align: center;
  align-content: center;
  display: inline-block;
  font-family: Montserrat;
  font-weight: 100;
}

#seafoam {
  background-color: #398774;
  color: white;
}

#seasmoke {
  background-color: #5E6778;
  color: white;
}

#dreary {
  background-color: #D7DFDF;
  color: black;
}

/* Font Guide */

table, th, td {
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

.table-head {
  font-family: Montserrat;
  text-align: center;
  border: 3px solid black;
  background-color: #D7DFDF
}

#montserrat-thin {
  font-family: Montserrat;
  font-weight: 100;
}

#montserrat500 {
  font-family: Montserrat;
  font-weight: 500;
}
